<form name="form" (ngSubmit)="f.form.valid && Save()" #f="ngForm" novalidate>


    <div class="form-row">

        <div class="form-group col-md-4">
            <label for="" class="control-label">Tipo de Factura</label>
            <select class="form-control" [(ngModel)]="model.fact_tipo" name="fact_tipo" #fact_tipo="ngModel" [ngClass]="{ 'is-invalid': f.submitted && fact_tipo.invalid }" [value]="model.fact_tipo" required>
                <option hidden [value]=null  selected>Seleccione una opcion </option>
                        <option value="CR">Credito</option>
                        <option value="CO">Contado</option> 
                       </select>
            <div *ngIf="f.submitted && fact_tipo.invalid" class="invalid-feedback">
                <div *ngIf="fact_tipo.errors.required">
                    "Tipo de Factura" es obligatorio
                </div>
            </div>
        </div>

        <div class="form-group col-md-4">
            <label for="" class="control-label">Empresa</label>
            <select class="form-control" [(ngModel)]="model.cias_codi" name="cias_codi" #cias_codi="ngModel" [ngClass]="{ 'is-invalid': f.submitted && cias_codi.invalid }" [value]="model.cias_codi" disabled required>
                          <option *ngFor="let emp of this.empresas" value="{{emp.cias_codi}}">{{ emp.cias_rsoc }}</option>                  
            </select>
            <div *ngIf="f.submitted && cias_codi.invalid" class="invalid-feedback">
                <div *ngIf="cias_codi.errors.required">
                    "Empresa" es obligatorio
                </div>
            </div>
        </div>

        <div class="form-group col-md-4">
            <label for="" class="control-label">Sede</label>
            <select class="form-control" [(ngModel)]="model.sede_codi" name="sede_codi" #sede_codi="ngModel" [ngClass]="{ 'is-invalid': f.submitted && sede_codi.invalid }" (change)="changeSede(sede_codi.value)" [value]="model.sede_codi" required>
                <option hidden [value]=null  selected>Seleccione una opcion </option>
                <option *ngFor="let sede of this.sedes" value="{{sede.sede_codi}}">{{ sede.sede_nomb }}</option>                  
            </select>
            <div *ngIf="f.submitted && sede_codi.invalid" class="invalid-feedback">
                <div *ngIf="sede_codi.errors.required">
                    "Sede" es obligatorio
                </div>
            </div>
        </div>

        <div class="form-group col-md-4">
            <label for="" class="control-label">Fecha Registro</label>
            <input type="date" class="form-control" [(ngModel)]="model.fact_fech" name="fact_fech" #fact_fech="ngModel" [ngClass]="{ 'is-invalid': f.submitted && fact_fech.invalid }" required/>
            <div *ngIf="f.submitted && fact_fech.invalid" class="invalid-feedback">
                <div *ngIf="fact_fech.errors.required">
                    "Fecha Registro" es obligatorio
                </div>
            </div>
        </div>

        <div class="form-group col-md-4">
            <label for="" class="control-label">Fecha Vencimiento</label>
            <input type="date" class="form-control" [(ngModel)]="model.fact_venc" name="fact_venc" #fact_venc="ngModel" [ngClass]="{ 'is-invalid': f.submitted && fact_venc.invalid }" required/>
            <div *ngIf="f.submitted && fact_venc.invalid" class="invalid-feedback">
                <div *ngIf="fact_venc.errors.required">
                    "Fecha" es obligatorio
                </div>
            </div>
        </div>


        <div class="form-group col-md-4">
            <label for="" class="control-label">Resolucion</label>
            <select class="form-control" [(ngModel)]="model.reso_codi" name="reso_codi" #reso_codi="ngModel" [ngClass]="{ 'is-invalid': f.submitted && reso_codi.invalid }" [disabled]="model.sede_codi == '' || model.sede_codi == null" [value]="model.reso_codi" required>
                <option hidden [value]=null  selected>Seleccione una opcion </option>
                          <option *ngFor="let reso of this.resoluciones" value="{{reso.reso_codi}}">{{ reso.reso_tfac+'-'+reso.reso_pref+'-'+reso.reso_reso }}</option>                  
            </select>
            <div *ngIf="f.submitted && reso_codi.invalid" class="invalid-feedback">
                <div *ngIf="reso_codi.errors.required">
                    "Resolucion" es obligatorio
                </div>
            </div>
        </div>

        <div class="form-group col-md-6">
            <label for="" class="control-label">Proyecto</label>
            <select class="form-control" [(ngModel)]="model.proy_codi" name="proy_codi" #proy_codi="ngModel" [ngClass]="{ 'is-invalid': f.submitted && proy_codi.invalid }" (change)="changeProy(proy_codi.value)" [disabled]="model.sede_codi == '' || model.sede_codi == null" [value]="model.proy_codi" required>
                            <option hidden [value]=null  selected>Seleccione una opcion </option>
                          <option *ngFor="let proy of this.proyectos" value="{{proy.proy_codi}}">{{ proy.proy_nomb }}</option>                  
            </select>
            <div *ngIf="f.submitted && proy_codi.invalid" class="invalid-feedback">
                <div *ngIf="proy_codi.errors.required">
                    "Resolucion" es obligatorio
                </div>
            </div>
        </div>

        <div class="form-group col-md-6">
            <label for="" class="control-label">Sub Proyecto</label>
            <select class="form-control" [(ngModel)]="model.spro_codi" name="spro_codi" #spro_codi="ngModel" [ngClass]="{ 'is-invalid': f.submitted && spro_codi.invalid }" [disabled]="model.proy_codi == '' || model.proy_codi == null" [value]="model.spro_codi" required >
                <option hidden [value]=null  selected>Seleccione una opcion </option>
                          <option *ngFor="let spro of this.subproyectos" value="{{spro.spro_codi}}">{{ spro.spro_nomb }}</option>                  
            </select>
            <div *ngIf="f.submitted && spro_codi.invalid" class="invalid-feedback">
                <div *ngIf="spro_codi.errors.required">
                    "Sub Proyecto" es obligatorio
                </div>
            </div>
        </div>


        <div class="form-group col-md-12">
            <label for="" class="control-label">Tercero</label>
            <select class="form-control pers_auxi" ng-model="pers_auxi" [(ngModel)]="model.pers_auxi" name="pers_auxi" #pers_auxi="ngModel" id="pers_auxi" [ngClass]="{ 'is-invalid': f.submitted && pers_auxi.invalid }" required>
                <option *ngFor="let ter of this.terceros" value="{{ter.pers_auxi}}">{{ ter.pers_rsoc }}</option>
              </select>
            <div *ngIf="f.submitted && pers_auxi.invalid" class="invalid-feedback">
                <div *ngIf="pers_auxi.errors.required">
                    "Tercero" es obligatorio
                </div>
            </div>
        </div>



        <div class="form-group col-md-12">
            <label for="" class="control-label">Observaciones</label>
            <textarea class="form-control" [(ngModel)]="model.fact_obse" name="fact_obse" #fact_obse="ngModel" [ngClass]="{ 'is-invalid': f.submitted && fact_obse.invalid }" rows="3"></textarea>
        </div>

    </div>


    <div class="text-left">
        <button class="btn btn-primary">Guardar</button>
    </div>
</form>