<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <p>
                <button type="button" class="btn btn-danger" [routerLink]="[ '/facturas'] "><i class="fas fa-arrow-left "></i>Atras</button>

                <button style="position: relative;left: 20px;" *ngIf="this.estado_factura=='A' " (click)="this.closeFact(model.fact_codi, model) " type="button " class="btn btn-warning"><i class="fas fa-times-circle "></i> Cerrar Factura </button>

                <button style="position: relative;left: 20px;" *ngIf="this.estado_factura=='PE' " (click)="this.sendFact(model.fact_codi, model) " type="button " class="btn btn-info"><i class="fas far fa-share-square "></i> Enviar Factura Dian</button>

                <button style="position: relative;left: 20px;" *ngIf="this.estado_factura=='N' " (click)="this.sendNote(model.fact_codi, model) " type="button " class="btn btn-danger"><i class="fas far fa-share-square "></i> Enviar Nota Dian</button>

            </p>

            <h3>Editar Factura No. {{ model.reso_pref+'-'+model.fact_cons}}</h3>
        </div>
        <div class="card-body ">


            <div class="progress" *ngIf="this.proceso==true">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                    Ejecutando Proceso Por Favor Espere..
                </div>
            </div>

            <div class="table-responsive " *ngIf="this.proceso==false ">
                <div class="col-md-12 ">
                    <table class="table table-striped table-bordered table-sm ">
                        <tbody>
                            <tr>
                                <th class="alert alert-success " style="text-align: center; width: 15%; ">Codigo</th>
                                <td>{{model.fact_codi}}</td>
                                <th class="alert alert-success " style="text-align: center; width: 15%; ">Tipo Documento</th>
                                <td>{{model.docuCodi.docu_desc}}</td>
                                <th class="alert alert-success " style="text-align: center; width: 15%; ">Tipo</th>
                                <td>{{model.fact_tipo=='CR'? 'CREDITO': 'DEBITO'}}</td>
                            </tr>

                            <tr>
                                <th class="alert alert-success " style="text-align: center; width: 15%; ">Tipo Operacion</th>
                                <td>{{model.operCodi.oper_desc}}</td>
                                <th class="alert alert-success " style="text-align: center; width: 15%; ">Empresa</th>
                                <td>{{model.ciasCodi.cias_rsoc}}</td>
                                <th class="alert alert-success " style="text-align: center; width: 15%; ">Sede</th>
                                <td>{{model.sedeCodi.sede_nomb}}</td>
                            </tr>

                            <tr>
                                <th class="alert alert-success " style="text-align: center; ">Proyecto</th>
                                <td>{{model.proyCodi.proy_nomb}}</td>
                                <th class="alert alert-success " style="text-align: center; ">Sub Proyecto</th>
                                <td>{{model.sproCodi.spro_nomb}}</td>
                                <th class="alert alert-success " style="text-align: center; ">Fecha Registro</th>
                                <td>{{model.fact_fech}}</td>
                            </tr>

                            <tr>
                                <th class="alert alert-success " style="text-align: center; ">Fecha Vencimiento</th>
                                <td>{{model.fact_venc}}</td>
                                <th class="alert alert-success " style="text-align: center; ">Resolucion</th>
                                <td>{{model.resoCodi.reso_tfac+'-'+model.resoCodi.reso_pref+'-'+model.resoCodi.reso_reso}}</td>
                                <th class="alert alert-success " style="text-align: center; ">Consecutivo</th>
                                <td>{{model.reso_pref+'-'+model.fact_cons}}</td>
                            </tr>

                            <tr>
                                <th class="alert alert-success " style="text-align: center; ">Moneda</th>
                                <td>{{model.moneCodi.mone_iso}}</td>
                                <th class="alert alert-success " style="text-align: center; ">Tasa de Cambio</th>
                                <td colspan="3">{{model.fact_tcam}}</td>
                            </tr>

                            <tr>
                                <th class="alert alert-success " style="text-align: center; ">Tercero</th>
                                <td colspan="5 ">{{model.persAuxi.pers_rsoc}}</td>
                            </tr>
                            <tr>
                                <th class="alert alert-success " style="text-align: center; ">Observaciones</th>
                                <td colspan="5 ">{{model.fact_obse}}</td>
                            </tr>
                            <tr>
                                <th class="alert alert-success " style="text-align: center; ">Estado</th>
                                <td colspan="5 ">{{model.estaCodi.esta_nomb}}</td>
                            </tr>
                        </tbody>
                    </table>

                    <app-index-detf [parent_id]="id " [estado_factura]="estado_factura "></app-index-detf>
                    <app-index-fpag [parent_id]="id " [estado_factura]="estado_factura " [tipo_factura]="tipo_factura "></app-index-fpag>
                    <app-index-mfac [parent_id]="id "></app-index-mfac>
                </div>

            </div>
        </div>
    </div>
</div>