<form name="form" (ngSubmit)="f.form.valid && Save()" #f="ngForm" novalidate>
    <div class="form-row">

        <div class="form-group col-md-4">
            <label for="" class="control-label">Tipo de Documento</label>
            <select class="form-control" [(ngModel)]="model.pers_tdoc" name="pers_tdoc" #pers_tdoc="ngModel" [ngClass]="{ 'is-invalid': f.submitted && pers_tdoc.invalid }" required>
                          <option *ngFor="let docu of Params_tipodoc" value="{{docu.parg_tdoc}}">{{ docu.parg_tdoc }}</option>                          
                      </select>
            <div *ngIf="f.submitted && pers_tdoc.invalid" class="invalid-feedback">
                <div *ngIf="pers_tdoc.errors.required">
                    "Tipo de Documento" es obligatorio
                </div>
            </div>
        </div>

        <div class="form-group col-md-4">
            <label for="" class="control-label">No. Documento</label>
            <input type="text" class="form-control" [(ngModel)]="model.pers_ndoc" name="pers_ndoc" #pers_ndoc="ngModel" [ngClass]="{ 'is-invalid': f.submitted && pers_ndoc.invalid }" required />
            <div *ngIf="f.submitted && pers_ndoc.invalid" class="invalid-feedback">
                <div *ngIf="pers_ndoc.errors.required">
                    "No. Documento" es obligatorio
                </div>
            </div>
        </div>

        <div class="form-group col-md-4">
            <label for="" class="control-label">Digito de Verificación</label>
            <input type="text" class="form-control" [(ngModel)]="model.pers_dv" name="pers_dv" />
        </div>

    </div>

    <div class="form-row">

        <div class="form-group col-md-4">
            <label for="" class="control-label">Lugar de Expedición</label>
            <select class="form-control" [(ngModel)]="model.pers_lexp" name="pers_lexp" #pers_lexp="ngModel" [ngClass]="{ 'is-invalid': f.submitted && pers_lexp.invalid }">
                          <option *ngFor="let ciud of ciudades" value="{{ciud.ciud_nomb}}">{{ ciud.ciud_nomb }}</option>                          
                      </select>
        </div>

        <div class="form-group col-md-4">
            <label for="" class="control-label">Naturaleza</label>
            <select class="form-control" [(ngModel)]="model.pers_natu" name="pers_natu" #pers_natu="ngModel" [ngClass]="{ 'is-invalid': f.submitted && pers_natu.invalid }" (change)="changeNatu(pers_natu.value)" required>
                        <option value="N">Natural</option>
                        <option value="J">Juridico</option>                        
                      </select>
            <div *ngIf="f.submitted && pers_natu.invalid" class="invalid-feedback">
                <div *ngIf="pers_natu.errors.required">
                    "Naturaleza" es obligatorio
                </div>
            </div>
        </div>

        <div class="form-group col-md-4">
            <label for="" class="control-label">Regimen Fiscal</label>
            <select class="form-control" [(ngModel)]="model.pers_regi" name="pers_regi" #pers_regi="ngModel" [ngClass]="{ 'is-invalid': f.submitted && pers_regi.invalid }" (change)="changeNatu(pers_regi.value)" required>
                <option *ngFor="let reg of Params_regimen" value="{{reg.parg_tdoc}}">{{ reg.parg_tdoc+'-'+reg.parg_obse }}</option>
                      </select>
            <div *ngIf="f.submitted && pers_regi.invalid" class="invalid-feedback">
                <div *ngIf="pers_regi.errors.required">
                    "Regimen Fiscal" es obligatorio
                </div>
            </div>
        </div>

    </div>

    <div class="form-row" *ngIf="model.pers_natu == 'N'">

        <div class="form-group col-md-6">
            <label for="" class="control-label">Primer Nombre</label>
            <input type="text" class="form-control" [(ngModel)]="model.pers_nom1" name="pers_nom1" #pers_nom1="ngModel" [ngClass]="{ 'is-invalid': f.submitted && pers_nom1.invalid }" [required]="model.pers_natu == 'N'" />
            <div *ngIf="f.submitted && pers_nom1.invalid" class="invalid-feedback">
                <div *ngIf="pers_nom1.errors.required">
                    "Primer Nombre" es obligatorio
                </div>
            </div>
        </div>

        <div class="form-group col-md-6">
            <label for="" class="control-label">Segundo Nombre</label>
            <input type="text" class="form-control" [(ngModel)]="model.pers_nom2" name="pers_nom2" #pers_nom2="ngModel" [ngClass]="{ 'is-invalid': f.submitted && pers_nom2.invalid }" />
            <div *ngIf="f.submitted && pers_nom2.invalid" class="invalid-feedback">
                <div *ngIf="pers_nom2.errors.required">
                    "Segundo Nombre" es obligatorio
                </div>
            </div>
        </div>

        <div class="form-group col-md-6">
            <label for="" class="control-label">Primer Apellido</label>
            <input type="text" class="form-control" [(ngModel)]="model.pers_ape1" name="pers_ape1" #pers_ape1="ngModel" [ngClass]="{ 'is-invalid': f.submitted && pers_ape1.invalid }" [required]="model.pers_natu == 'N'" />
            <div *ngIf="f.submitted && pers_ape1.invalid" class="invalid-feedback">
                <div *ngIf="pers_ape1.errors.required">
                    "Primer Apellido" es obligatorio
                </div>
            </div>
        </div>

        <div class="form-group col-md-6">
            <label for="" class="control-label">Segundo Apellido</label>
            <input type="text" class="form-control" [(ngModel)]="model.pers_ape2" name="pers_ape2" #pers_ape2="ngModel" [ngClass]="{ 'is-invalid': f.submitted && pers_ape2.invalid }" />
            <div *ngIf="f.submitted && pers_ape2.invalid" class="invalid-feedback">
                <div *ngIf="pers_ape2.errors.required">
                    "Segundo Apellido" es obligatorio
                </div>
            </div>
        </div>


    </div>

    <div class="form-row" *ngIf="model.pers_natu == 'J'">

        <div class="form-group col-md-12">
            <label for="" class="control-label">Razon Social</label>
            <input type="text" class="form-control" [(ngModel)]="model.pers_rsoc" name="pers_rsoc" #pers_rsoc="ngModel" [ngClass]="{ 'is-invalid': f.submitted && pers_rsoc.invalid }" [required]="model.pers_natu == 'J'" />
            <div *ngIf="f.submitted && pers_rsoc.invalid" class="invalid-feedback">
                <div *ngIf="pers_rsoc.errors.required">
                    "Razon Social" es obligatorio
                </div>
            </div>
        </div>
    </div>

    <div class="form-row">

        <div class="form-group col-md-12">
            <label for="" class="control-label">Nombre Comercia</label>
            <input type="text" class="form-control" [(ngModel)]="model.pers_ncom" name="pers_ncom" #pers_ncom="ngModel" [ngClass]="{ 'is-invalid': f.submitted && pers_ncom.invalid }" />
            <div *ngIf="f.submitted && pers_ncom.invalid" class="invalid-feedback">
                <div *ngIf="pers_ncom.errors.required">
                    "Nombre Comercia" es obligatorio
                </div>
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="" class="control-label">Sexo</label>
            <select class="form-control" [(ngModel)]="model.pers_sexo" name="pers_sexo" #pers_sexo="ngModel" [ngClass]="{ 'is-invalid': f.submitted && pers_sexo.invalid }" required>
                          <option *ngFor="let sexo of Params_sexo" value="{{sexo.parg_tdoc}}">{{ sexo.parg_tdoc }}</option>                          
                      </select>
            <div *ngIf="f.submitted && pers_sexo.invalid" class="invalid-feedback">
                <div *ngIf="pers_sexo.errors.required">
                    "Sexo" no puede ir vacio
                </div>
            </div>
        </div>

        <div class="form-group col-md-4">
            <label for="" class="control-label">Fecha de Nacimiento</label>
            <input type="date" class="form-control" [(ngModel)]="model.pers_fnac" name="pers_fnac" #pers_fnac="ngModel" />
        </div>



        <div class="form-group col-md-4">
            <label for="" class="control-label">Grupo Sanguineo</label>
            <select class="form-control" [(ngModel)]="model.pers_grh" name="pers_grh" #pers_grh="ngModel" [ngClass]="{ 'is-invalid': f.submitted && pers_grh.invalid }" required>
                          <option *ngFor="let gsan of Params_gruposan" value="{{gsan.parg_tdoc}}">{{ gsan.parg_tdoc }}</option>                          
                      </select>
            <div *ngIf="f.submitted && pers_grh.invalid" class="invalid-feedback">
                <div *ngIf="pers_grh.errors.required">
                    "Grupo Sanguineo" es obligatorio
                </div>
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="" class="control-label">Pais de Residencia</label>
            <select class="form-control" [(ngModel)]="model.pais_codi" name="pais_codi" #pais_codi="ngModel" [ngClass]="{ 'is-invalid': f.submitted && pais_codi.invalid }" required>
                          <option *ngFor="let pais of paises" value="{{pais.pais_codi}}">{{ pais.pais_nombre }}</option>                          
                      </select>
            <div *ngIf="f.submitted && pais_codi.invalid" class="invalid-feedback">
                <div *ngIf="pais_codi.errors.required">
                    "Naturaleza" es obligatorio
                </div>
            </div>
        </div>

        <div class="form-group col-md-4">
            <label for="" class="control-label">Ciudad de Residencia</label>
            <select class="form-control" [(ngModel)]="model.pers_ciur" name="pers_ciur" #pers_ciur="ngModel" [ngClass]="{ 'is-invalid': f.submitted && pers_ciur.invalid }">
                          <option *ngFor="let ciud of ciudades" value="{{ciud.ciud_nomb}}">{{ ciud.ciud_nomb }}</option>                          
                      </select>
        </div>

        <div class="form-group col-md-4">
            <label for="" class="control-label">Direccion de Residencia</label>
            <input type="text" class="form-control" [(ngModel)]="model.pers_dirr" name="pers_dirr" #pers_dirr="ngModel" />
        </div>
    </div>

    <div class="form-row">

        <div class="form-group col-md-4">
            <label for="" class="control-label">Direccion de Fiscal</label>
            <input type="text" class="form-control" [(ngModel)]="model.pers_dirc" name="pers_dirc" #pers_dirc="ngModel" [ngClass]="{ 'is-invalid': f.submitted && pers_dirc.invalid }" required/>
            <div *ngIf="f.submitted && pers_dirc.invalid" class="invalid-feedback">
                <div *ngIf="pers_dirc.errors.required">
                    "Direccion de Fiscal" es obligatorio
                </div>
            </div>
        </div>

        <div class="form-group col-md-4">
            <label for="" class="control-label">Codigo Postal</label>
            <input type="text" class="form-control" [(ngModel)]="model.pers_codp" name="pers_codp" #pers_codp="ngModel" [ngClass]="{ 'is-invalid': f.submitted && pers_codp.invalid }" required minlength="6" maxlength="10" />
            <div *ngIf="f.submitted && pers_codp.invalid" class="invalid-feedback">
                <div *ngIf="pers_codp.errors.required">
                    "Codigo Postal" es obligatorio
                </div>
                <div *ngIf="pers_codp.errors.minlength">"Codigo Postal" debe tener como minimo 6 caracteres</div>
                <div *ngIf="pers_codp.errors.maxlength">"Codigo Postal" debe tener como maximo 10 caracteres</div>
            </div>
        </div>

        <div class="form-group col-md-4">
            <label for="" class="control-label">Telefono</label>
            <input type="text" class="form-control" [(ngModel)]="model.pers_telf" name="pers_telf" #pers_telf="ngModel" />
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="" class="control-label">Celular</label>
            <input type="text" class="form-control" [(ngModel)]="model.pers_telc" name="pers_telc" #pers_telc="ngModel" />
        </div>
        <div class="form-group col-md-4">
            <label for="" class="control-label">E-mail</label>
            <input type="text" class="form-control" [(ngModel)]="model.pers_mail" name="pers_mail" #pers_mail="ngModel" [ngClass]="{ 'is-invalid': f.submitted && pers_mail.invalid }" email />
            <div *ngIf="f.submitted && pers_mail.invalid" class="invalid-feedback">
                <div *ngIf="pers_mail.errors.email">la Direccion de Correo es Invalida </div>
            </div>

        </div>

        <div class="form-group col-md-4">
            <label for="" class="control-label">E-mail Alternativo</label>
            <input type="text" class="form-control" [(ngModel)]="model.pers_malt" name="pers_malt" #pers_malt="ngModel" [ngClass]="{ 'is-invalid': f.submitted && pers_malt.invalid }" email />
            <div *ngIf="f.submitted && pers_malt.invalid" class="invalid-feedback">
                <div *ngIf="pers_malt.errors.email">la Direccion de Correo es Invalida </div>
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="" class="control-label">Ocupación</label>
            <select class="form-control" [(ngModel)]="model.ocup_codi" name="ocup_codi" #ocup_codi="ngModel" [ngClass]="{ 'is-invalid': f.submitted && ocup_codi.invalid }" required>
                    <option *ngFor="let ocup of ocupaciones" value="{{ocup.ocup_codi}}">{{ ocup.ocup_nomb }}</option>                          
            </select>
            <div *ngIf="f.submitted && ocup_codi.invalid" class="invalid-feedback">
                <div *ngIf="ocup_codi.errors.required">
                    "Ocupación" es obligatorio
                </div>
            </div>
        </div>
        <div class="form-group col-md-4">
            <label for="" class="control-label">Entidad de Salud</label>
            <select class="form-control" [(ngModel)]="model.enad_codi" name="enad_codi" #enad_codi="ngModel" [ngClass]="{ 'is-invalid': f.submitted && enad_codi.invalid }" required>
                          <option *ngFor="let ent of entidades" value="{{ent.enad_codi}}">{{ ent.enad_nomb }}</option>                  
            </select>
            <div *ngIf="f.submitted && enad_codi.invalid" class="invalid-feedback">
                <div *ngIf="enad_codi.errors.required">
                    "Entidad de Salud" es obligatorio
                </div>
            </div>
        </div>

        <div class="form-group col-md-4">
            <label for="" class="control-label">Pagina Web</label>
            <input type="text" class="form-control" [(ngModel)]="model.pers_pweb" name="pers_pweb" #pers_pweb="ngModel" />
        </div>


    </div>

    <div class="text-right">
        <button class="btn btn-primary">Guardar</button>
    </div>
</form>