<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <p>
                <button class="btn btn-danger" [routerLink]="['/paises']">
          <i class="fas fa-arrow-left"></i>Atras
        </button>
            </p>
            <h3>Pais No. {{ model.pais_codi }}</h3>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <div class="col-md-12">
                    <table class="table table-striped table-bordered table-sm">
                        <tbody>
                            <tr>
                                <th class="alert alert-success" style="text-align: center; width: 15%;">
                                    Codigo
                                </th>
                                <td>{{ model.pais_codi }}</td>
                            </tr>

                            <tr>
                                <th class="alert alert-success" style="text-align: center;">
                                    Numero
                                </th>
                                <td>{{ model.pais_isonum }}</td>
                            </tr>
                            <tr>
                                <th class="alert alert-success" style="text-align: center;">
                                    Iso2
                                </th>
                                <td>{{ model.pais_iso2 }}</td>
                            </tr>
                            <tr>
                                <th class="alert alert-success" style="text-align: center;">
                                    Iso 3
                                </th>
                                <td>{{ model.pais_iso3 }}</td>
                            </tr>

                            <tr>
                                <th class="alert alert-success" style="text-align: center;">
                                    Nombre
                                </th>
                                <td>{{ model.pais_nombre }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>